* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(229, 229, 236, 0.911);
}
/*HEADER*/
header h1 {
    font-weight: lighter;
    font-size: 40px;
    color: rgba(92, 53 82, 0.7);
    margin: 0;
    display: inline;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

header a {
    text-decoration: none;
    color: rgba(92, 53, 82, 0.7);    
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
header nav ul li a:hover {
    color: var(--darker);
}

/*HERO*/
 .hero {
     background-image: url("../images/hero-01.jpg");
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     height: 400px;
     width: 100%;
     opacity: .35;
 }
.hero-cta {
    color: rgba(92, 53, 82, 0.7);
    font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: right;
    float: right;
    font-weight: lighter;   
}
/*INTRODUCTION*/
#about-me {    
   text-align: center;
   display: flex;
   padding: 10px;
   margin: 25px 0;
   height: 300px;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   font-size: 18px;
   color: rgba(156, 67, 134, 0.7);
   display: flex;
   justify-content: center;       
}

.photo img {
    height: 300px;
    width: 240px;
    border-radius: 15px;
    float: right;
}
.introduction p {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

/*PRoJECTS*/
#projects {
    margin-bottom: 20px;    
    height: 400px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: flex;
    text-align: center;
}

/*GRID*/
.work-grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
    grid-gap: 10px;
    justify-content: center;    
    padding-right: 40px;    
}
.work-grid-item {    
    text-align: center;
    font-size: 30px;
}
.item1 img {
   height: 150px;
   width: 200px;
   border-radius: 15px;
}
.item2 img {
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.item3 img {
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.item4 img {
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.item5 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.item5 img {
height:310px;
width:410px;
border-radius: 15px;
}
.work-grid-container h3 {
    color: rgba(156, 67, 134, 0.7);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 15px;
}
  /*END GRID*/
.titles {
    color: rgba(92, 53, 82, 0.7);
    font-size: 40px;
    text-align: left;
    font-weight: lighter;
    flex: 0 0 20%;
    padding-right: 70px;
    width: 20%;
}
/*CONTACT*/
#contact {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    display: flex;
}
.contact-me p {
    color: rgba(92, 53, 82, 0.7);
    display: flex;
    float: right;
    font-size: 18px;
    margin: 0 45px;
    font-weight: lighter;
    display: flex;
    padding: 10px;
}
/*RULES*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}