* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(219, 199, 171, .03);
}
/*HEADER*/
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: rgba(69, 122, 105, 0.7);
    margin: 0;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    text-decoration: none;
    color: rgba(69, 122, 105, 0.7);    
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*HERO*/
 .hero {
     background-image: url("../images/03-hero.jpg");
     background-size: cover;
     background-position: center;
     display: flex;
     flex-wrap: wrap;
     height: 300px;
     width: 100%;
 }
.hero-cta 
{
    display: block; 
    color: rgba(69, 122, 105, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*INTRODUCTION*/
#about-me {
    margin-bottom: 20px;
    margin: 30px;
    padding: 30px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgba(69, 122, 105, 0.7);
    display: flex;
}
.introduction {
    margin: 30px;
}
.photo img {
    height: 300px;
    width: 240px;
    display: inline-block;
    border-radius: 15px;
}

/*PRoJECTS*/
#projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

/*GRID*/
.work-grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
    grid-gap: 10px;
    justify-content: center;
    
    
}
.work-grid-item {
    
    text-align: center;
    font-size: 30px;
}
.item1 img {
   height: 150px;
   width: 200px;
}
.item2 img {
    height: 150px;
    width: 200px;
}
.item3 img {
    height: 150px;
    width: 200px;
}
.item4 img {
    height: 150px;
    width: 200px;
}
.item5 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.item5 img {
height:310px;
width:410px;
}
  /*END GRID*/
.titles {
    color: rgba(69, 122, 105, 0.7);
    font-size: 40px;
    text-align: right;
}
/*CONTACT*/
#contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.contact-me {
    display: inline;
}
.contact-me p {
    color: rgba(69, 122, 105, 0.7);
    display: inline;
    float: right;
    font-size: 25px;
    margin: 0 45px;
    font-weight: lighter;


}
/*RULES*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}